.main-wrapper {
  width: 100%;
  margin: auto;
}

.container {
  position: relative;
  padding-top: 20px;
  width: 900px;
  margin: auto;
}

.left-container {
  /* width: 30%; */
  width: 300px;
  height: 600px;
  background-color: transparent;
  background-image: url("../images/scoreBG.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px;
  font-size: 14px;
  color: #3a3838;
}

.right-container {
  position: relative;
  /* width: 70%; */
  width: 600px;
  height: 600px;
}

#canvas {
  /* position: absolute; */
}
