* {
  padding: 0px;
  margin: 0px;
}

.center-content {
  border-width: 1px;
  justify-content: center;
  align-items: center;
}

.main-container {
  padding: 50px;
  width: 100%;
  margin: auto;
}

.container {
  width: 50%;
  margin: auto;
}
