.mobile-view {
  font-size: 50px;
  padding: 20px;
  border: 1px solid black;
  width: 1002px;
  margin: auto;
}

.tablet-view {
  font-size: 20px;
  padding: 20px;
  border: 1px solid black;
  width: 1002px;
  margin: auto;
}
.view {
  font-size: 50px;
  padding: 20px;
  border: 1px solid black;
  width: 1002px;
  margin: auto;
}
@media (min-width: 992px) {
  .view {
    font-size: 20px;
    padding: 20px;
    border: 1px solid black;
    width: 1002px;
    margin: auto;
  }
}
