.container a {
  display: block;
  text-decoration: none;
  text-align: center;
  width: 200px;
  padding: 20px 30px;
  margin: 20px auto;
  background-color: #ccc;
  font-size: 25px;
}

.container a:hover {
  background-color: green;
}
