.nav {
  padding: 20px 0px;

  @include mq(md) {
    padding: 36px 0px;
  }

  @include e(logo) {
    float: left;
    // margin: 0px auto;
    width: 100px;
    @include mq(lg) {
      float: left;
      margin-right: 58px;
      width: 160px;
    }
  }

  @include e(list) {
    display: none;
    @include mq(md) {
      float: left;
      font-size: 12px;
      font-weight: bold;
      li {
        padding: 12px 22px;
        float: left;
      }
    }
    @include mq(lg) {
      display: block;
      font-size: 15px;
    }
  }

  @include e(left-container) {
    float: right;
    padding-top: 12px;
  }

  @include e(search) {
    float: right;
    background: transparent;
    color: $color-text;
    @include mq(lg) {
      display: block;
    }
  }

  @include e(ham-menu) {
    float: left;
    background: transparent;
    padding-right: 30px;
    color: $color-text;
    @include mq(lg) {
      display: none;
    }
  }
}
