/* ---------------------------------------------------Styles of Header components */

.search-container {
  display: none;
  margin-top: 20px;
  padding-left: 24px;
}

.search-bar-container {
  background: url("../images/search-bar-container.png") no-repeat;
  width: 254px;
  height: 20px;
}
.search-text-input {
  background-color: transparent;
  border: none;
  font-size: 9px;
  padding-left: 8px;
  padding-top: 5px;
  width: 245px;
  height: 12px;
  outline: none;
}
.search-icon-container {
  background: url("../images/search-icon-cnotainer.png") no-repeat;
  width: 20px;
  margin-left: 1px;
  height: 20px;
}

.search-btn-container {
  border-radius: 20px;
  margin-left: 1px;
  width: 54px;
  height: 20px;
  background-color: black;
  border: none;
  outline: none;
  font-size: 9px;
  color: white;
  margin-left: 7px;
}

.search-btn-container:hover {
  background-color: #dddddd;
  color: black;
}

.search-btn-container:hover {
  text-decoration: none;
  cursor: pointer;
}
.mobile-nav-list{
  list-style: none;
  margin-bottom: 10px;
}
.mobile-nav-list-item{
  padding-bottom: 2px;
}
.mobile-header {
  display: block;
  margin-top: 10px;
}
.user-detail-container {
  display: none;
  margin-top: 6px;
}
.user-name {
  text-align: right;
  font-size: 14px;
  margin-bottom: 6px;
  letter-spacing: 1px;
}
.horizontal-list {
  display: inline;
  text-align: right;
  font-size: 12px;
}

.horizontal-list-item {
  display: inline;
  border-left: 1px solid black;
  padding: 0px 5px;
}
.horizontal-list-item:first-child {
  display: inline;
  border-left: none;
  padding: 0px;
}

.border-left {
  border-left: 1px solid black;
  padding-left: 4px;
}

.link {
  color: black;
  text-decoration: none;
}
.link:hover {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}
/* ---------------------------------------------------Styles of Header Nav components */

.nav-header-list {
  display: inline;
  list-style: none;
}
.nav-header-list-item {
  display: inline;
  font-size: 14px;
  padding-left: 30px;
}
.nav-header-list-item:first-child {
  display: inline;
  font-size: 14px;
  padding-left: 8px;
}

.nav-text {
  font-size: 12px;
  padding-left: 8px;
}
.nav-padding-left {
  font-size: 12px;
  padding-left: 20px;
}
.nav-text-left {
  display: inline-block;
  font-size: 12px;
  padding-left: 5px;
}
.gray {
  color: #a2a2a2;
}
.nav-img {
  display: inline-block;
  padding-top: 0px;
  margin-top: 0px;
}
.nav-left-list {
  list-style: none;
  display: inline-block;
  font-size: 12px;
}
.nav-left-list-item {
  display: inline-block;
  text-align: center;
  padding-left: 32px;
}
.nav-left-list-item-img {
  height: 15px;
  width: auto;
  vertical-align: middle;
}
.nav-left-list-item-text {
  display: inline-block;
  padding-left: 8px;
}

/* ---------------------------------------------------Styles of content-column bar components */
.column-button {
  color: white;
  background-color: #2fc1da;
  padding: 14px 50px 14px 12px;
}

.column-list {
  list-style: none;
}

.column-list-item {
  padding: 11px;
  font-size: 10px;
}
.column-list-item:nth-child(2) {
  padding: 15px 11px 10px 11px;
  font-size: 10px;
}

.column-bottom-list-item {
  padding: 11px;
  font-size: 10px;
}

.list-first-padding {
  padding: 15px 11px 11px 11px;
  font-size: 10px;
}

.list-first-padding:hover {
  background-color: #ffffff;
}

.column-bottom-list-item:hover {
  background-color: #ffffff;
  cursor: pointer;
}

.column-list-item:hover {
  background-color: #ffffff;
  cursor: pointer;
}

.column-list-item:first-child {
  color: white;
  background-color: #2fc1da;
  padding: 12px 50px 12px 12px;
  font-size: 16px;
}

.column-list-item:first-child:hover {
  cursor: default;
}

.column-list-top-left-item {
  display: inline-block;
  line-height: 12px;
  width: 96px;
}

.column-list-top-right-item {
  margin-left: 60px;
}
.column-list-bottom-left-item {
  display: inline-block;
  line-height: 12px;
  width: 138px;
}

.column-list-bottom-right-item {
  margin-left: 15px;
}

.column-list-right-item {
  display: inline-block;
  padding-right: 15px;
}

/* ------------------------------------------------------------------------------------------middle main column styles */

.main-content-title {
  padding-left: 2px;
  margin-top: -4px;
  font-size: 29px;
}

.main-content-header-nav {
  text-align: center;
  width: 49.8%;
  background-color: #f5f5f5;
  border-radius: 20px 20px 0px 0px;
}

.main-content-header-nav-text {
  display: inline-block;
  margin: 12px 0px;
}

.main-content-header-nav-item {
  display: inline-block;
  margin: 0px 5px;
  min-width: 60px;
  padding: 8px 8px 6px 8px;
  background-color: #dddddd;
  border-radius: 18px 18px 0px 0px;
}

.main-content-header-nav-item:hover {
  cursor: pointer;
  background-color: #7dd9e8;
  color: white;
}

.main-content-header-nav-item.active {
  background-color: #2fc1da;
  color: white;
}

.main-nav-link {
  text-decoration: none;
  color: black;
}
.main-nav-link:hover {
  color: white;
}
.main-nav-link.active {
  color: white;
}
.main-content-list {
  list-style: none;
}
.main-content-list-item {
  padding: 15px 0px;
  border-bottom: 1px #d8d8d8 solid;
}

.user-img {
  display: inline-block;
  height: 70px;
  width: 70px;
}

.main-content-right {
  padding-left: 10px;
}
.content-title {
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  padding-bottom: 6px;
}
.content-notification {
  font-size: 10px;
  font-weight: bold;
  padding-bottom: 5px;
}
.content-desc {
  padding-bottom: 5px;
  font-size: 11px;
  color: #727272;
}

.blue {
  text-decoration: none;
  color: #37a4b9;
  font-weight: bold;
}
.green {
  text-decoration: none;
  color: #427500;
  font-weight: bold;
}
.red {
  text-decoration: none;
  color: #d4310d;
  font-weight: bold;
}

/* ------------------------------------------------------------------------------------------Footer styles */

.footer-list-item {
  display: inline;
  list-style: none;
}

.footer-list-item li:before {
  content: "\2022";
  padding: 0px 6px;
}

.footer-list-item li:first-child:before {
  content: "";
  padding: 0px;
}

.footer-link {
  text-decoration: none;
  color: #d4d4d4;
}

.footer-link:hover {
  color: black;
}

@media (min-width: 768px) {
  .main-content-header-nav-item {
    min-width: 94px;
  }
}

@media (min-width: 992px) {
  .mobile-header {
    display: none;
  }
  .search-container {
    display: block;
  }

  .user-detail-container {
    display: block;
  }
}
