.main-container-wrapper {
  width: 100%;
}
.container {
  padding: 0px 32px;
  max-width: 940px;
  margin: auto;
}

.header-wrapper {
  position: relative;
  background-color: #eeeeee;
  height: 100px;
}

.nav-wrapper {
  display: none;
  position: absolute;
  bottom: -22px;
  margin-top: 38px;
  z-index: 1;
}

.banner-wrapper {
  position: relative;
  margin: 0px auto;
  width: 100%;
  max-width: 1558px;
}

.banner2-wrapper {
  width: 100%;
  background-color: #2d2d2d;
  margin: auto;
  margin-top: -5px;
}

.banner2-container {
  padding: 52px 32px 102px 32px;
  max-width: 980px;
  margin: auto;
}

.section3-wrapper {
  width: 100%;
  background-color: #222222;
  margin: auto;
}

.section3-container {
  padding-top: 56px;
  max-width: 1255px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.team-section-wrapper {
  width: 100%;
  background-color: #ebebeb;
  margin: auto;
}

.team-section-container {
  padding-top: 80px;
}

.footer-wrapper {
  width: 100%;
  background-color: #373737;
  margin: auto;
  border-top: 4px solid #914dcf;
}

.footer-container {
  padding-top: 25px;
  padding-bottom: 246px;
}
@media (min-width: 768px) {
  .header-wrapper {
    height: 150px;
  }
}

@media (min-width: 992px) {
  .header-wrapper {
    height: 232px;
  }
  .nav-wrapper {
    display: block;
  }
}
