.main-container-wrapper {
  width: 100%;
}
.container {
  padding: 0px 32px;
  max-width: 940px;
  margin: auto;
}
.header-wrapper {
  background-color: #f0f0f0;
}

.banner-wrapper {
  margin: auto;
  background: url("../images/bg1.png") no-repeat;
  width: 100%;
  max-width: 1558px;
  height: 540px;
  padding-top: 196px;
}


@media (min-width: 768px) {
}

@media (min-width: 992px) {
}
