* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.clearfix:after {
  content: "";
  clear: both;
  display: table;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.center-hor {
  margin: auto;
}
/* 
.container {
  height: 500px;
  border: 1px solid violet;
  overflow: hidden;
  padding: 20px;
}
.sub-container {
  height: 400px;
  border: 1px solid black;
  padding: 20px;
}
.sub-sub-container {
  margin: auto;
  max-width: 200px;
  height: 300px;
  border: 1px solid black;
  padding: 20px;
} */
