.header {
  padding-top: 40px;
}

.header-img-container {
  height: 25px;
  width: 25px;
}

.header-img {
  width: 100%;
  height: 100%;
}

.ham-menu-container {
  display: inline-block;
}

@font-face {
  font-family: NexaBlack;
  src: url("../fonts/Nexa\ Black.ttf");
  font-weight: 500px;
}
.header-name-container {
  margin-left: 10px;
}
.header-name {
  font-family: NexaBlack, Arial, Helvetica, sans-serif;
  font-weight: 500px;
  margin-top: 4px;
  font-size: 20px;
  color: #6a19ac;
  font-weight: 500;
  line-height: 22px;
}

@font-face {
  font-family: PT_Sans;
  src: url("../fonts/PTSans-Italic.ttf");
  font-weight: 500px;
}

.header-tag {
  display: none;
  font-family: PT_Sans, Arial, Helvetica, sans-serif;
  font-size: 12px;
  /* font-style: italic; */
  margin-top: 8px;
  padding-left: 3px;
  line-height: 10px;
  color: #858585;
}

@font-face {
  font-family: NexaBold;
  src: url("../fonts/Nexa\ Bold.ttf");
  font-weight: 500px;
}

.header-right {
  font-family: NexaBold, Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin-top: 6px;
}
.header-list {
  display: none;
  list-style: none;
  color: #c7c7c7;
  margin-right: 8px;
}

.header-list-item {
  margin-top: 12px;
  display: inline-block;
  /* padding-right: 16px;
  padding-left: 18px; */
  padding: 0px 18px 0px 0px;
}

.header-list-item:nth-child(2) {
  padding: 0px 18px 0px 16px;
  border-left: 1px solid gray;
  color: #58159b;
}

.header-list-text {
  display: inline-block;
  padding-right: 10px;
  margin-top: -12px;
  vertical-align: middle;
}

.header-list-img {
  height: 17px;
  width: 11px;
}

.header-search-container {
  display: none;
  position: relative;
  height: 46px;
  width: 300px;
  overflow: hidden;
}

.header-search-input {
  height: 100%;
  width: 282px; /*400-18*/
  background-color: white;
  padding-left: 18px;
  border: none;
  outline: none;
  color: #959595;
}

.header-search-img {
  position: absolute;
  top: 12px;
  right: 14px;
  height: 23px;
  width: 23px;
}

/* --------------------------------------------------nav styles*/
@font-face {
  font-family: PT_Sans_Bold;
  src: url("../fonts/PTSans-Bold.ttf");
  font-weight: 500px;
}

.nav-list {
  display: none;
  list-style: none;
  color: #707070;
  font-family: PT_Sans_Bold, Arial, sans-serif;
  font-size: 17px;
}

.nav-list li a {
  display: block;
  text-decoration: none;
  color: #707070;
  height: 112px;
  width: 150px;
  text-align: center;
  border-bottom: 5px solid #701dbb;
  box-sizing: border-box;
}
.nav-list li a.active {
  color: #701dbb;
  height: 123px;
  width: 170px;
  border-bottom: 13px solid #701dbb;
}
.nav-list li a:hover {
  color: #701dbb;
  width: 170px;
}

.nav-list-item {
  float: left;
  display: block;
  background-color: white;
}
.nav-list-item.active {
  position: relative;
  top: -11px;
  float: left;
  display: block;
  background-color: white;
}

.nav-list-img {
  margin: 18px auto;
}
.nav-list-text {
}
.nav-link {
  text-decoration: none;
  color: inherit;
  margin: auto;
}
.no-style {
  text-decoration: none;
}

.banner-img {
  width: 100%;
}
.circle-container {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 25.7%; /*138/537*/
  width: 8.9%; /*138-1550*/
  border-radius: 69px;
  background-color: #451a4a;
  transform: translate(-50%, -50%);
}

.circle-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40.58%; /*53/138*/
  height: 40.58%; /*56/138*/
  transform: translate(-50%, -50%);
  background-color: transparent;
}
@font-face {
  font-family: NexaBook;
  src: url("../fonts/Nexa-Book.ttf");
  font-weight: normal;
}

.banner2-heading {
  font-family: NexaBook;
  font-size: 36px;
  color: white;
  text-align: center;
}

.banner2-heading-desc {
  font-family: NexaBold;
  font-weight: normal;
  font-size: 14px;
  color: #a161db;
  text-align: center;
}

.banner2-img-container {
  margin-top: 30px;
  max-width: 980px;
}
.banner2-img {
  width: 100%;
}

.banner2-list-wrapper {
  margin-top: 48px;
}

.banner2-list {
  list-style: none;
  color: #f5f5ff;
  max-width: 940px;
}

.row {
  margin-left: 14px;
  max-width: 940px;
}

.col {
  float: left;
  width: 33.33%;
  padding: 0px 10px;
  box-sizing: border-box;
}

/* .banner2-list-item {
  display: inline-block;
  width: 30.91%; /*300/980/
  padding-left: 20px;
}
.banner2-list-item:first {
  padding-left: 0px;
} */

.banner2-list-title {
  font-family: NexaBook, Arial, Helvetica;
  font-size: 24px;
}
.banner2-list-desc {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
  font-size: 12px;
  overflow: hidden;
  max-height: 168px; /*7*24px */
  line-height: 24px;
}

.section3-img-container {
  position: relative;
  margin-top: 30px;
  max-width: 1255px;
}

.section3-img {
  width: 100%;
}
.section3-text-content {
  position: absolute;
  top: 66%;
  width: 100%;
}

.section3-text-heading {
  font-family: NexaBook;
  font-size: 36px;
  color: #ffffff;
  text-align: center;
}
.section3-text-desc {
  margin-top: 22px;
  font-family: NexaBook;
  font-size: 14px;
  color: #a161db;
  text-align: center;
}

@media (min-width: 768px) {
  .header-img-container {
    width: 35px;
    height: 35px;
  }
  .header-name {
    font-size: 30px;
    line-height: 28px;
  }
  .header-search-container {
    display: block;
  }
}

@media (min-width: 992px) {
  .header {
    padding-top: 40px;
  }
  .header-img-container {
    width: 50px;
    height: 50px;
  }
  .header-name {
    font-size: 39px;
  }
  .header-tag {
    display: block;
  }
  .header-list {
    display: block;
  }

  .ham-menu-container {
    display: none;
  }

  .nav-list {
    display: block;
  }
}
