.header {
  padding-top: 40px;
}

.header-img-container {
  height: 50px;
  width: 50px;
}

.header-img {
  width: 100%;
}

.header-right {
  margin-top: 6px;
}

.ham-menu-container {
  display: inline-block;
}
.header-name-container {
  margin-top: 10px;
  margin-left: 10px;
}

.header-name {
  font-size: 30px;
  color: #6a19ac;
}
.header-moto {
  font-size: 10px;
  padding-left: 3px;
  color: #858585;
}

.header-list {
  display: none;
  list-style: none;
  font-family: Nexa-Bold, Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: #c7c7c7;
  margin-right: 8px;
}

.header-list-item {
  margin-top: 12px;
  display: inline-block;
  /* padding-right: 16px;
  padding-left: 18px; */
  padding: 0px 18px 0px 16px;
}

.header-list-item:nth-child(2) {
  border-left: 1px solid gray;
  color: #58159b;
}

.header-list-text {
  display: inline-block;
  padding-right: 10px;
  margin-top: -12px;
  vertical-align: middle;
}

.header-list-img {
  height: 17px;
  width: 11px;
}

.header-search-container {
  display: none;
  position: relative;
  height: 46px;
  width: 400px;
  overflow: hidden;
}

.header-search-input {
  height: 100%;
  width: 382px; /*400-18*/
  background-color: white;
  padding-left: 18px;
  border: none;
  outline: none;
}

.header-search-img {
  position: absolute;
  top: 12px;
  right: 14px;
  height: 23px;
  width: 23px;
}

/* --------------------------------------------------nav styles*/
.nav-list {
  display: none;
  list-style: none;
  color: #707070;
  margin: 0px;
}
.nav-list-item {
  float: left;
  display: block;
  padding: 18px 48px 34px 48px;
  background-color: white;
  border: 1px solid black;
}
.nav-list-img {
  margin: auto;
}
.nav-list-text {
  font-size: 10px;
}
.nav-list-item:hover {
  color: #701dbb;
  padding-top: 10px;
}
.nav-link {
  text-decoration: none;
  color: inherit;
  margin: auto;
}
.no-style {
  text-decoration: none;
}

.banner-img {
  width: 100%;
}
.circle-container {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 25.7%; /*138/537*/
  width: 8.9%; /*138-1550*/
  border-radius: 69px;
  background-color: #451a4a;
  transform: translate(-50%, -50%);
}

.circle-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 38.41%; /*53/138*/
  height: 40.58%; /*56/138*/
  transform: translate(-50%, -50%);
  background-color: transparent;
}

.banner2-heading {
  font-size: 14px;
  color: white;
  text-align: center;
}
.banner2-heading-desc {
  font-size: 10px;
  color: #a161db;
  text-align: center;
}

.banner2-img-container {
  margin-top: 30px;
  max-width: 980px;
}
.banner2-img {
  width: 100%;
}

.banner2-list {
  margin-top: 48px;
  list-style: none;
  color: white;
}

.banner2-list-item {
  display: inline-block;
  width: 30.91%; /*300/980*/
  padding-left: 20px;
}
.banner2-list-item:first {
  padding-left: 0px;
}

.banner2-list-title {
  font-size: 18px;
}
.banner2-list-desc {
  margin-top: 20px;
  font-size: 11px;
}

@media (min-width: 768px) {
  .header-search-container {
    display: block;
  }
}

@media (min-width: 992px) {
  .header-list {
    display: block;
  }

  .ham-menu-container {
    display: none;
  }

  .nav-list {
    display: block;
  }
}
