.header {
  padding-top: 40px;
}

.icon-img-container {
  height: 25px;
  width: 25px;
}

.icon-img {
  width: 100%;
  height: 100%;
}

.ham-menu-container {
  display: inline-block;
}

@font-face {
  font-family: NexaBlack;
  src: url("../fonts/Nexa\ Black.ttf");
  font-weight: 500px;
}
.icon-name-container {
  margin-left: 10px;
}
.icon-name {
  font-family: NexaBlack, Arial, Helvetica, sans-serif;
  font-weight: 500px;
  margin-top: 4px;
  font-size: 20px;
  color: #6a19ac;
  font-weight: 500;
  line-height: 22px;
}

@font-face {
  font-family: PT_Sans;
  src: url("../fonts/PTSans-Italic.ttf");
  font-weight: 500px;
}

.icon-tag {
  display: none;
  font-family: PT_Sans, Arial, Helvetica, sans-serif;
  font-size: 12px;
  /* font-style: italic; */
  margin-top: 8px;
  padding-left: 3px;
  line-height: 10px;
  color: #858585;
}

@font-face {
  font-family: NexaBold;
  src: url("../fonts/Nexa\ Bold.ttf");
  font-weight: 500px;
}

.header-right {
  font-family: NexaBold, Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin-top: 6px;
}
.header-list {
  display: none;
  list-style: none;
  color: #c7c7c7;
  margin-right: 8px;
}

.header-list-item {
  margin-top: 12px;
  display: inline-block;
  /* padding-right: 16px;
  padding-left: 18px; */
  padding: 0px 18px 0px 0px;
}

.header-list-item:nth-child(2) {
  padding: 0px 18px 0px 16px;
  border-left: 1px solid gray;
  color: #58159b;
}

.header-list-text {
  display: inline-block;
  padding-right: 10px;
  margin-top: -12px;
  vertical-align: middle;
}

.header-list-img {
  height: 17px;
  width: 11px;
}

.header-search-container {
  display: none;
  position: relative;
  height: 46px;
  width: 300px;
  overflow: hidden;
}

.header-search-input {
  height: 100%;
  width: 282px; /*400-18*/
  background-color: white;
  padding-left: 18px;
  border: none;
  outline: none;
  color: #959595;
}

.header-search-img {
  position: absolute;
  top: 12px;
  right: 14px;
  height: 23px;
  width: 23px;
}

/* --------------------------------------------------nav styles*/
@font-face {
  font-family: PT_Sans_Bold;
  src: url("../fonts/PTSans-Bold.ttf");
  font-weight: 500px;
}

.nav-list {
  position: relative;
  display: none;
  list-style: none;
  color: #707070;
  font-family: PT_Sans_Bold, Arial, sans-serif;
  font-size: 17px;
  width: 100%;
}

.nav-list li a {
  display: block;
  text-decoration: none;
  color: #707070;
  height: 112px;
  text-align: center;
  border-bottom: 5px solid #701dbb;
  box-sizing: border-box;
  box-shadow: inset 0px 0px 2px black;
}
.nav-list li a.active {
  color: #701dbb;
  /* border-bottom: 13px solid #701dbb; */
}
.nav-list li a:hover {
  color: #701dbb;
  /* border-bottom: 13px solid #701dbb; */
  box-shadow: inset 0px 0px 2px black;
}

.nav-list-item {
  float: left;
  display: block;
  width: 16.6666%;
  background-color: white;
}

.nav-list-item:hover {
  position: relative;
  bottom: 8px;
  float: left;
  display: block;
  background-color: white;
  color: #701dbb;
}

.nav-list-img {
  margin: 18px auto;
}
.nav-list-text {
}
.nav-link {
  text-decoration: none;
  color: inherit;
  margin: auto;
}
.no-style {
  text-decoration: none;
}

.banner-img {
  width: 100%;
}
.circle-container {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 48px; /*25.7%; /*138/537*/
  width: 48px; /*138-1550*/
  border-radius: 24px;
  background-color: #451a4a;
  transform: translate(-50%, -50%);
}

.circle-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40.58%; /*53/138*/
  height: 40.58%; /*56/138*/
  transform: translate(-50%, -50%);
  background-color: transparent;
}
@font-face {
  font-family: NexaBook;
  src: url("../fonts/Nexa-Book.ttf");
  font-weight: normal;
}

.banner2-heading {
  font-family: NexaBook;
  font-size: 20px;
  color: white;
  text-align: center;
}

.banner2-heading-desc {
  font-family: NexaBold;
  font-weight: normal;
  font-size: 14px;
  color: #a161db;
  text-align: center;
}

.banner2-img-container {
  margin-top: 30px;
  max-width: 980px;
}
.banner2-img {
  width: 100%;
}

.banner2-list-wrapper {
  margin-top: 48px;
}

.banner2-list {
  list-style: none;
  color: #f5f5ff;
  max-width: 940px;
}

.row {
  margin-left: 14px;
  max-width: 940px;
}

.col {
  margin-top: 20px;
  float: left;
  width: 100%;
  padding: 0px 10px;
  box-sizing: border-box;
}

/* .banner2-list-item {
  display: inline-block;
  width: 30.91%; /*300/980/
  padding-left: 20px;
}
.banner2-list-item:first {
  padding-left: 0px;
} */

.banner2-list-title {
  font-family: NexaBook, Arial, Helvetica;
  font-size: 24px;
}
.banner2-list-desc {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
  font-size: 12px;
  overflow: hidden;
  max-height: 168px; /*7*24px */
  line-height: 24px;
}

.section3-img-container {
  position: relative;
  margin-top: 30px;
  max-width: 1255px;
}

.section3-img {
  width: 100%;
}

.section3-text-content {
  position: absolute;
  top: 66%;
  width: 100%;
}

.section3-text-heading {
  font-family: NexaBook;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
}
.section3-text-desc {
  margin-top: 10px;
  font-family: NexaBook;
  font-size: 10px;
  color: #a161db;
  text-align: center;
}

.team-images-container {
}

.team-heading-container {
  background: url("../images/line_bg_11.png") no-repeat;
  width: 100%;
}
.team-heading-text {
  font-family: NexaBook;
  font-size: 20px;
  color: #717171;
  padding: 0px 44px;
  text-align: center;
  margin: auto;
  width: max-content;
  background-color: #ebebeb;
  box-sizing: border-box;
}
.team-heading-text-tag {
  font-family: NexaBold;
  font-size: 14px;
  color: #717171;
  text-align: center;
  margin: auto;
  background-color: #ebebeb;
  padding: 0px 44px;
  width: max-content;
}


.member-row {
  list-style: none;
  max-width: 940px;
  text-align: center;
  margin: auto;
}

.member-col {
  margin-top: 46px;
  display: inline-block;
  width: 220px;
  box-sizing: border-box;
}
.member-img-container {
  position: relative;
  width: 220px;
  height: 210px;
  background-color: white;
  padding: 5px;
  box-sizing: border-box;
}

.member-img-rotated-bg {
  position: absolute;
  width: 220px;
  height: 210px;
  background-color: #fdfdfd;
  box-sizing: border-box;
  transform: rotate(-5deg);
}

.member-img {
}
.twitter-container {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 47px;
  height: 41px;
  background-color: #8f33c4;
  padding-left: 9px;
  padding-top: 12px;
  margin: auto;
  box-sizing: border-box;
}
.member-details-container {
  margin-top: 24px;
  color: #7b7b7b;
}
.member-name {
  font-family: PT_Sans_Bold;
  font-size: 18px;
}
@font-face {
  font-family: PT_Sans_Regular;
  src: url("../fonts/PTSans-Regular.ttf");
  font-weight: 500px;
}
.member-designation {
  margin-top: 12px;
  font-family: PT_Sans_Regular;
  font-size: 14px;
}
.indicator-container {
  margin-top: 34px;
}
.indicator-row {
  width: 75px;
  list-style: none;
}
.indicator-col {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #979797;
  margin-left: 7px;
}
.indicator-col.active {
  background-color: #8f33c4;
}
.indicator-col:first-child {
  margin-left: 0px;
}

.team-content-container {
  margin-top: 46px;
}
.team-content-row {
  list-style: none;
}

.team-content-col {
  float: left;
  position: relative;
  padding: 60px 48px 98px 48px;
  background-color: white;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 16px;
}

.team-content-col:first-child {
  margin-left: 0px;
}

.plus-container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 30px;
  height: 30px;
  background-color: #8f33c4;
  padding-top: 5px;
  padding-left: 10px;
  box-sizing: border-box;
}
.plus-img {
  width: 33.33%;
  background-size: cover;
}

.team-content-heading {
  font-family: NexaBold;
  font-size: 26px;
  color: #252525;
  text-align: center;
}
.team-content-desc1 {
  margin-top: 30px;
  font-family: NexaBold;
  font-size: 14px;
  color: #6017a3;
}
.team-content-desc2 {
  margin-top: 44px;
  font-family: NexaBold;
  font-size: 12px;
  color: #949494;
}

.team-content2 {
  padding: 72px 48px 98px 48px;
  box-sizing: border-box;
  background-color: #ffffff;
}
.padding-button {
  padding-bottom: 34px;
}

.footer-left {
  width: 100%;
}
.footer-right {
  width: 100%;
}

.footer-para {
  display: block;
  margin-top: 40px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 23px;
  color: #ffffff;
}

.footer-right-top-list {
  margin-top: 20px;
  list-style: none;
  color: #ffffff;
  font-family: NexaBold;
  font-size: 12px;
}
.footer-right-top-list-item {
  display: inline-block;
  padding-left: 21px;
  margin-left: 24px;
  border-left: 1px solid #767676;
}
.footer-right-top-list-item:first-child {
  padding-left: 0px;
  margin-left: 0px;
  border-left: none;
}
.footer-right-top-list-item a:hover {
  padding-bottom: 15px;
  border-bottom: 4px solid #914dcf;
}

.footer-right-bottom-list {
  margin-top: 38px;
  list-style: none;
  color: #ffffff;
  font-family: PT_Sans_Bold;
  font-size: 12px;
}
.footer-right-bottom-list-item {
  display: inline-block;
  padding-left: 21px;
  margin-left: 24px;
}
.footer-right-bottom-list-item:first-child {
  padding-left: 0px;
  margin-left: 0px;
  border-left: none;
}

.footer-bottom-container {
  width: 100%;
  display: block;
  margin-top: 48px;
}
.footer-bottom-list {
  list-style: none;
  color: #ffffff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}
.footer-bottom-list-item {
  display: block;
  padding-left: 0px;
  margin-top: 10px;
}
.footer-bottom-list-item:first-child {
  padding-left: 0px;
}
.footer-bottom-list-item a:hover {
  color: #914dcf;
}
.footer-bottom-para {
  margin-top: 28px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11px;
  color: #7e7e7e;
}
/**----------------------------------------------i-pad---media*/
@media (min-width: 768px) {
  .icon-img-container {
    width: 35px;
    height: 35px;
  }
  .icon-name {
    font-size: 30px;
    line-height: 28px;
  }
  .header-search-container {
    display: block;
  }

  .circle-container {
    height: 80px; /*25.7%; /*138/537*/
    width: 80px; /*138-1550*/
    border-radius: 40px;
  }
  .banner2-heading {
    font-size: 28px;
  }

  .section3-text-heading {
    font-size: 28px;
  }
  .section3-text-desc {
    margin-top: 15px;
    font-size: 12px;
  }
  .team-heading-text {
    font-size: 30px;
  }
  .team-content-heading {
    font-size: 30px;
  }

  .footer-bottom-list-item {
    display: inline-block;
    padding-left: 20px;
    margin-top: 0px;
  }
}

@media (min-width: 992px) {
  .header {
    padding-top: 40px;
  }
  .icon-img-container {
    width: 50px;
    height: 50px;
  }
  .icon-name {
    font-size: 39px;
  }
  .icon-tag {
    display: block;
  }
  .header-list {
    display: block;
  }

  .ham-menu-container {
    display: none;
  }

  .nav-list {
    display: block;
  }

  .circle-container {
    height: 138px; /*25.7%; /*138/537*/
    width: 138px; /*138-1550*/
    border-radius: 69px;
  }
  .banner2-heading {
    font-size: 36px;
  }

  .col {
    width: 33.33%;
  }
  .section3-text-heading {
    font-size: 36px;
  }
  .section3-text-desc {
    margin-top: 22px;
    font-size: 14px;
  }
  .team-heading-text {
    font-size: 36px;
  }
  .member-col {
    width: 220px;
    margin-left: 15px;
  }
  .member-col:first-child {
    width: 220px;
    margin-left: 0px;
  }
  .team-content-col {
    width: 48.9%;
    margin-left: 20px;
  }
  .footer-left {
    width: 50%;
    padding-right: 42px;
    box-sizing: border-box;
  }
  .footer-right {
    width: 50%;
    padding-left: 42px;
    box-sizing: border-box;
  }
}

.white {
  text-decoration: none;
  color: #ffffff;
}

.expand-width {
  width: 100%;
}
